8.0/.vs
8.0/packages
8.0/Test_Numerics/.vs
8.0/Test_Numerics/obj
8.0/Test_Numerics/bin
8.0/Test_Numerics/packages
8.0/Numerics/.vs
8.0/Numerics/obj
8.0/Numerics/bin
8.0/Numerics/packages
4.8.1/.vs
4.8.1/packages
4.8.1/Test_Numerics/.vs
4.8.1/Test_Numerics/obj
4.8.1/Test_Numerics/bin
4.8.1/Test_Numerics/packages
4.8.1/Numerics/.vs
4.8.1/Numerics/obj
4.8.1/Numerics/bin
4.8.1/Numerics/packages